<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="favicon" href="{% static 'img/favicon.ico' %}">
    <script src="{% static 'js/script.js' %}"></script>
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>


    <nav>
        <h1>Armazem</h1>
        <div class="menu-items">
            <a href="{% url 'inicio' %}" class="active">Inicio</a>
            <a href="#">Estoque</a>
            <a href="#">Fornecedores</a> 
            <a href="#">Historico</a>
        </div>
    </nav>

    <header>
     {% block header %}
     {% endblock %}
    </header>

    <main>
     {% block main %}
     {% endblock %}
    </main>

    <section class="section1"> 
        {% block section1 %}
        {% endblock %}
    </section>

    <table>
        {% block table %}
        {% endblock %}
    </table>

    <footer>
        Desenvolvido por Mateus T. Lirio | Versão 0.1
    </footer>

</body>
</html>